<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My Telerik MVC Application</title>
    <link href="https://cdn.kendostatic.com/2022.1.301/styles/kendo.default-nordic.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://cdn.kendostatic.com/2022.1.301/js/jquery.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.301/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.301/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.301/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body class="k-content">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between p-0">
            <h1 class="navbar-brand d-flex align-items-center">Welcome</h1>
            <button id="configure" class="k-rpanel-toggle k-button k-button-md k-rounded-md k-icon-button k-button-solid-primary btn-toggle">
                <span class="k-button-icon k-icon k-i-menu"></span>
            </button>
            <div class="logo-image">
                <img src="~/Images/python.jpeg" height="35" width="35" class="img-fluid" /> 
            </div>
        </div>
    </nav>
    <div id="responsive-panel" class="navbar navbar-dark bg-light">
        @(Html.Kendo().Menu()
                        .Name("Menu")
                        .Items(items =>
                        {
                            items.Add().Text("Home").Action("Index", "Home", new { area = "" });
                            items.Add().Text("Achievements").Action("Achievements", "Home", new { area = "" });
                        })
                    )
    </div>

    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-center d-flex align-items-center">
        <div class="container-fluid">
            <p class="text-muted"> © @DateTime.Now.Year NCSI. All Rights Reserved.</p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
</body>
</html>
